language: python

cache: pip

matrix:
  include:
    - os: linux
      python: 3.5
      env: TOXENV=py35

    - os: linux
      python: 3.6
      env: TOXENV=py36

    - os: linux
      python: 3.7
      env: TOXENV=py37

    - os: linux
      python: 3.8
      env: TOXENV=py38

    - os: linux
      python: 3.7
      env: TOXENV=cov
      after_success:
        - travis_retry pip install

    - os: osx
      language: generic
      env: TOXENV=py37

install:
  - travis_retry bash -x .travis/install.sh

script:
  - tox
