include LICENSE
include README.rst
include pyproject.toml
include tox.ini
include */py.typed

recursive-include requirements *
recursive-include tests *

global-exclude __pycache__/*
global-exclude *.pyc
